@model BusinessSuitMVC.Models.Role

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{



}

<section class="content-wrapper">

    <section class="content-header">
        <h1>
            Role
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    @using (Html.BeginForm("RoleCreate", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="box-body">



                            <div class="form-group">
                                <label class="control-label col-md-3">Name<span style="color:red;">*</span> </label>
                                <div class="col-md-5">
                                    @Html.TextBoxFor(m => m.Name, new { @Class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <input type="submit" value="Save" style="margin-left:15px" class="btn btn-info" />
                                <input type="button" value="Reset" id="reset" class="btn btn-info" />
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg" style="color:red;">@ViewData["msg"]</label>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>

<script>
    $("form").submit(function (event) {
        if ($("#Name").val() == "") {
            event.preventDefault();
            //alert("Counsilor_Name is required");
            swal("Failed", "Name is required", "error").then(function () {
                $("#Name").focus();
            });

        }

    });
    function resetFunction()
    {
        $("#Name").val("");

    }
    $(document).ready(function () {
        var message = $("#msg").text();

        if (message == "Successfully Saved") {
            swal("Successful", "Successfully Saved", "success");
            resetFunction();
        }

        $("#reset").click(function () {

            resetFunction();

        });

    });
</script>
