@model BusinessSuitMVC.Models.Client_Inventory
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<section class="content-wrapper">

    <section class="content-header">
        <h1>
           Inventory Add
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create</h3>
                    </div>
                    @using (Html.BeginForm("InventoryAdd", "Client", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(m => m.Id)
                            <div class="form-group">

                                <label class="control-label col-md-3">Add SMS<span style="color:red;">*</span> </label>

                                <div class="col-md-5">
                                    <input id="freesms" Class="form-control" type="text" />
                                    <label id="sms" style="color:red;" text="hfhfhgfh" class="control-label col-md-6"></label>
                                
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-3">Add Call<span style="color:red;">*</span> </label>

                                <div class="col-md-5">
                                    <input id="freecall" Class="form-control" type="text" />
                                    <label ></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>

                                <input type="submit" value="Save" style="margin-left:15px" class="btn btn-info" />
                                <input type="button" value="Reset" id="reset" class="btn btn-info" />

                            </div>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                <label id="msg" style="color:red;">@ViewData["msg"]</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</section>
@section contents{
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Script/bootstrap-datepicker.min.js"></script>
    <script>
        $('.myDatePicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        })

     

        $(document).ready(function () {
            $("form").submit(function (event) {
                if ($("#Free_Sms").val() == "") {
                    event.preventDefault();
                    //alert("Counsilor_Name is required");
                    swal("Failed", "Sms is required", "error").then(function () {
                        $("#Free_Sms").focus();
                    });


                }
                else if ($("#Free_Call").val() == "") {
                    event.preventDefault();
                    //alert("Counsilor_Name is required");
                    swal("Failed", "Call is required", "error").then(function () {
                        $("#Free_Call").focus();
                    });


                }
                else {
                    event.preventDefault();
                    $.ajax({
                        url: "/Client/InventoryAdd",
                        type: "POST",
                        data: {
                            Id: $("#Id").val(),
                            Free_Sms: $("#freesms").val(),
                            Free_Call: $("#freecall").val(),
                        },
                        success: function (data) {
                            if (data == "true") {
                                swal("Success", "Successfully Updated", "success");
                               
                            }
                          
                            else {
                                swal("failed", data, "error");
                                resetfunction();
                            }
                        },
                        error: function (data) {
                            alert("Failed",data)
                        },
                    })
                   
                }

            })
            function resetFunction() {

                $("#Free_Sms").val("");
                $("#Free_Call").val("");
            }
        })

    </script>
}